[submodule "badge/2022_supercon_badge_sdk"]
	path = badge/2022_supercon_badge_sdk
	url = git@github.com:furrysalamander/2022_supercon_badge_sdk.git
[submodule "badge/stm32/libopencm3"]
	path = badge/stm32/libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "badge/2022-Supercon6-Badge-Tools"]
	path = badge/2022-Supercon6-Badge-Tools
	url = git@github.com:Hack-a-Day/2022-Supercon6-Badge-Tools.git
[submodule "micropython-workshop/supercon6"]
	path = micropython-workshop/supercon6
	url = git@github.com:pimoroni/supercon6.git
